name = "LibPQ"
uuid = "194296ae-ab2e-5f79-8cd4-7183a0a5a0d1"
license = "MIT"
version = "0.10.1"

[deps]
BinaryProvider = "b99e7846-7c00-51b0-8f62-c81ae34c0232"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Decimals = "abce61dc-4473-55a0-ba07-351d65e31d42"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FileWatching = "7b1f6079-737a-58dc-b8bc-7a2ca5c1b5ee"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
LayerDicts = "6f188dcb-512c-564b-bc01-e0f76e72f166"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
Memento = "f28f55f0-a522-5efc-85c2-fe41dfb9b2d9"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"
TimeZones = "f269a46b-ccf7-5d73-abea-4c690281aa53"

[compat]
BinaryProvider = "0.4, 0.5"
DataFrames = "0.14, 0.15, 0.16, 0.17, 0.18"
Decimals = "0.3.1, 0.4"
IterTools = "1"
LayerDicts = "1"
Memento = "0.10, 0.11, 0.12"
OffsetArrays = "0.9.1, 0.10, 0.11"
Tables = "0.2"
TimeZones = "0.8, 0.9"
julia = "1"

[extras]
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "DataFrames"]
